.navbar {
    padding: 1rem;
    background-color: red;
  }
.btn-primary:hover {
    background-color: grey;
    color: black;
  }
#carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
  }